# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/
data/parquet/
data/processed/

# Large files
*.parquet
*.csv
*.joblib
*.pickle
*.pkl

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
